<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.officinal.officinals">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        >

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorOrUser"
            android:label="DoctorOrUser"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Generic_Activity"
            android:label="Generic"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".MaleTouch"
            android:label="Touch and Select"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".UserSignIn"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".UnderVerification"
            android:label="underverification"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Doctor_Apply_Here_Activity"
            android:label="DoctorSignin"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Home"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LanguageSelection"
            android:label="Language Selection"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".DoctorSignIn"
            android:label="Doctor Sign In"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".Contact"
            android:label="Contact"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".DoctorHome"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ProfileDoctor"
            android:theme="@style/AppTheme"
            android:label="Profile Doctor">

        </activity>
        <activity android:name=".FilterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Filter">

        </activity>
        <activity android:name=".Video_Uploa_By_Doctors"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Video_Uploa_By_Doctors">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths">
            </meta-data>
        </provider>


    </application>

</manifest>